<table>
  <tbody>
    <tr>
      <th>X</th>
      <td>{{x}}</td>
    </tr>
    <tr>
      <th>Y</th>
      <td>{{y}}</td>
    </tr>
    <tr>
      <th>Height</th>
      <td>{{height}}</td>
    </tr>
    <tr>
      <th>Width</th>
      <td>{{width}}</td>
    </tr>
  </tbody>
</table>
