$forestGreen: rgb(48, 97, 88);
$green: rgb(116, 169, 73);
$leafGreen: rgb(153, 201, 135);
$darkBlue: rgb(16, 80, 143);
$cobalt: rgb(94, 138, 185);
$lightBlue: rgb(182, 221, 211);
$ocean: rgb(86, 185, 197);
$orange: rgb(227, 117, 54);
$yellow: rgb(248, 212, 58);
$pale: rgb(255, 245, 213);
$red: rgb(196, 51, 49);
$brown: rgb(101, 71, 42);
$purple: rgb(198, 93, 221);
