* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
}

.container {
  margin: 1em auto;
  max-width: 640px;
}

.face-container {
  max-width: 320px;
  margin: auto;
  position: relative;
}

video {
  background-color: #EEE;
  border: 5px solid #EEE;
}
