@import './colors.scss';
@import './typography.scss';
@import './table.scss';

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
}

.container {
  margin: 1em auto;
  max-width: 640px;
}

.face-container {
  max-width: 320px;
  margin: auto;
  position: relative;
}

video {
  background-color: $pale;
  border: 5px solid darken($pale, 10);
}
