* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  margin: 0 0 5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 400;
}

tspan {
  font-family: 'Open Sans';
}

th {
  font-weight: 400;
}
